<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin' Page</title>
</head>

<body>
    <div class="container">


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-md">
                <h2> <a class="navbar-brand" href="#">Admin's Page</a></h2>
                <div class="time">
                    <p>{{ date }} | {{ time }}</p>
                </div>
                <button type="submit" class="btn btn-dark">Logout</button>

            </div>
        </nav>


        <div class="table">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">The Order</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {%for i in order%}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td>{{i.orderdesc}}</td>

                        <td><a href="/admin/delete/{{i.id}}">Delete</a></td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <div class="feed">
                <h3>Feedback: </h3>

                <ul>
                    {% for i in feedback %}
                    <li>
                        {{i.description}}

                    </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
</body>


</html>