<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Details</title>
</head>

<body>
    <div class="container">



        <div id="img1">
            <img src="{% static 'images/thumbnails/Drinks/23.jpg' %}" class=" img-fluid " alt="Iced Mocha "></div>

        <span class="tag">Price: {20 }₪</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, ipsam. Id fugit, pariatur natus voluptatibus illo ea quos excepturi. Amet temporibus doloribus odit molestiae sunt recusandae illo eum praesentium vero.</p>


        <div id="order"><button type="submit" class="btn btn-primary btn-lg">Order Now</button>
            <input type="number" id="counter" placeholder="Quantity"></div>


    </div>



    </div>

</body>

</html>