<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {%load static%}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%  static  'css/homenavbar.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/home.css'  %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>LEMON</title>
</head>

<body>
    <nav class=" navbar" id='navcolor'>
        <div class="container-fluid" id='container-fluid'>
            <div class="navbar-header">
                <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar " id="blackcolor"></span>
                    <span class="icon-bar " id="blackcolor"></span>
                    <span class="icon-bar " id="blackcolor"></span>
                </button>
                <div class='logo' onclick="location.href='/';">
                    <img src="/static/images/homepage/logo-removebg-preview.png" alt="logo">
                    <p class="navbar-brand acolor">LEMON Restaurant</p>
                </div>

            </div>
            <div class='space'>

            </div>
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" id="navbar-nav">
                    <li class="active"><a href="/welcome" class="acolor" id='navAedit'>Home</a></li>

                    <ul class="nav navbar-nav navbar-right" id="navbar-nav">
                        <li><a href="/logout" class="acolor" id='navAedit'><span
                                    class="glyphicon glyphicon-user   acolor"></span>Logout
                            </a></li>
                        <li><img id="cart" onclick="location.href='/cart/';" src="/static/images/homepage/cart.png" alt="cart icon">
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>


    <section id="conter">
        <div class='firstcol'>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">All Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#breakfast" role="tab" aria-controls="profile" aria-selected="false">Breakfast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#main" role="tab" aria-controls="messages" aria-selected="false">Main Dishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#salads" role="tab" aria-controls="settings" aria-selected="false">Salads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#drinks" role="tab" aria-controls="settings" aria-selected="false">Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#desserts" role="tab" aria-controls="settings" aria-selected="false">Desserts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#Shisha" role="tab" aria-controls="settings" aria-selected="false">Shisha</a>
                </li>
            </ul>
        </div>
        <div class='secondcol'>
            <div class="tab-content" id="tab-content">
                <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="home-tab">
                    <div class="contandiv">
                        {%for item in allitem%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/{{item.category.name}}/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="tab-pane" id="breakfast" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="contandiv">

                        {%for item in breakfast%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Breakfast/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}

                    </div>
                </div>
                <div class="tab-pane" id="main" role="tabpanel" aria-labelledby="messages-tab">
                    <div class="contandiv">
                        {%for item in maindishes%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Maindishes/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="tab-pane" id="salads" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="contandiv">
                        {%for item in salads%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Salads/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="tab-pane" id="drinks" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="contandiv">

                        {%for item in drinks%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Drinks/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}

                    </div>
                </div>
                <div class="tab-pane" id="desserts" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="contandiv">

                        {%for item in desserts%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Desserts/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}

                    </div>
                </div>
                <div class="tab-pane" id="Shisha" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="contandiv">

                        {%for item in sheesha%}
                        <div class="item">
                            <a href="/details/{{item.id}}/"><img src="/static/images/thumbnails/Sheesha/{{item.name}}.jpg"></a>
                            <div class="pricename">
                                <p>{{item.name}} </p>
                                <p>Price : {{item.price}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>


        <div class='thirdcol'>

            <div onclick="location.href='/cart/';">
                <img src="/static/images/homepage/cart.png" alt="cart icon">
                <p>My cart</p>
            </div>
            <div onclick="location.href='/cart/';">
                <img src="/static/images/homepage/buy.png" alt="order icon">
                <p>Order Now</p>
            </div>
            <div onclick="location.href='/contact/';">
                <img id="CUS" src="/static/images/homepage/contactUs.png" alt="contact Us icon">
                <p>Contact Us</p>
            </div>
        </div>


        <script>
            $('#myTab a').on('click', function(event) {
                event.preventDefault()
                $('#myTab a').css('background-color', 'transparent')
                $(this).css('background-color', '#fddc17')


            })
        </script>

    </section>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
<footer>
    <div id="footer">

        <h2>LEMON Restaurant</h2>
    </div>

</footer>

</html>