<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {%load static%}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%  static  'css/homenavbar.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/home.css'  %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <title>LEMON</title>
</head>


<body>



    <nav class=" navbar" id='navcolor'>
        <div class="container-fluid" id='container-fluid'>
            <div class="navbar-header">
                <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar " id="blackcolor"></span>
                    <span class="icon-bar " id="blackcolor"></span>
                    <span class="icon-bar " id="blackcolor"></span>
                </button>
                <div class='logo' onclick="location.href='/';">
                    <img src="/static/images/homepage/logo-removebg-preview.png" alt="logo">
                    <p class="navbar-brand acolor">LEMON Restaurant</p>
                </div>
            </div>
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" id="navbar-nav">
                    <li class="active"><a href="#" class="acolor" id='navAedit'>Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle acolor" data-toggle="dropdown" href="#" id='navAedit'>Page 1 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="acolor">Page 1-1</a></li>
                            <li><a href="#" class="acolor">Page 1-2</a></li>
                            <li><a href="#" class="acolor">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="acolor" id='navAedit'>Page 2</a></li>
                    <li><a href="#" class="acolor" id='navAedit'>Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="navbar-nav">
                    <li><a href="#" class="acolor" id='navAedit'><span
                                class="glyphicon glyphicon-user   acolor"></span>Logout
                        </a></li>
                    <li><img id="cart" onclick="location.href='/';" src="/static/images/homepage/cart.png" alt="cart icon">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
<!-- END of navbar -->


<body>


    <section id="conter">
        <div class='firstcol'>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="/breakfast" role="tab" aria-controls="home" aria-selected="true">Breakfast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="/maindishes" role="tab" aria-controls="profile" aria-selected="false">Main Dishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="/desserts" role="tab" aria-controls="messages" aria-selected="false">Desserts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="/drinks" role="tab" aria-controls="settings" aria-selected="false">Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="/salads" role="tab" aria-controls="settings" aria-selected="false">Salads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="/sheesha" role="tab" aria-controls="settings" aria-selected="false">Sheesha Corner</a>
                </li>
            </ul>


        </div>
        <div class='secondcol'>
            <div class="tab-content" id="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="contandiv">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="contandiv">

                        <div class="one1"></div>
                        <div class="two1"></div>
                        <div class="three1"></div>
                    </div>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <div class="contandiv">

                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
            </div>

        </div>
        <div class='thirdcol'>
            <div onclick="location.href='/';">
                <img id="FDB" src="/static/images/homepage/FeedBack.png" alt="FeedBack icon">
                <p>FeedBack</p>
            </div>
            <div onclick="location.href='/';">
                <img src="/static/images/homepage/cart.png" alt="cart icon">
                <p>My cart</p>
            </div>
            <div onclick="location.href='/';">
                <img src="/static/images/homepage/buy.png" alt="order icon">
                <p>Order Now</p>
            </div>
            <div onclick="location.href='/';">
                <img id="CUS" src="/static/images/homepage/contactUs.png" alt="contact Us icon">
                <p>Contact Us</p>
            </div>
        </div>


        <script>
            $('#myTab a').on('click', function(event) {
                event.preventDefault()
                $('#myTab a').css('background-color', 'transparent')
                $(this).css('background-color', '#fddc17')


            })
        </script>

    </section>







    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
<footer>
    <div id="footer">

        <h2>LEMON Restaurant</h2>
    </div>

</footer>