<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide-Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Slides.css' %}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'Javascript/slide-js.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

</head>

<body>

    <div class=" container ">
        <div class="recent-div">
            <h2>Recent Dishes</h2>
        </div>
        <section class="customer-logos slider ">
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Breakfast/01.jpg' %}" alt="My image"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Breakfast/02.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Breakfast/03.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/08.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/09.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/10.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/25.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/26.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/27.jpg' %}"></a>
            </div>
        </section>

    </div>

    <div class=" container ">
        <h2>Main Dishes Collection</h2>
        <section class="customer-logos slider ">
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/29.jpg' %}" alt="My image"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/30.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/31.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/32.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/33.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/34.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/35.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/36.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Main_dishes/37.jpg' %}"></a>
            </div>
        </section>

    </div>

    <div class=" container ">
        <h2>Most Ordered</h2>
        <section class="customer-logos slider ">
            <div class="slide ">
                <a href="/"><img src="{% static 'thumbnails/Breakfast/01.jpg' %}" alt="My image"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Breakfast/02.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Breakfast/03.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/08.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/09.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Desserts/10.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/25.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/26.jpg' %}"></a>
            </div>
            <div class="slide ">
                <a href=""><img src="{% static 'thumbnails/Drinks/27.jpg' %}"></a>
            </div>
        </section>

    </div>
</body>

</html>